<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Anasayfa</title>
</head>
<body>
    <div id="inputSection">
        <h2>İsimleri Girin</h2>
        <textarea id="namesInput" placeholder="Her ismi yeni bir satıra yazın örnek:
        
ahmet
mehmet
selim
kamil
recep
mervan
yusuf"></textarea>
        <button id="submitButton">Oluştur</button>
        <button id="downloadButton">Resmi İndir</button>
    </div>
    <div id="outputSection">
        <h2>Sonuç</h2>
        <canvas id="puzzleCanvas"></canvas>
    </div>
    <!-- Script dosyalarını include edin -->
    <script type="module" src="/js/script.js"></script>
</body>
</html>
